<!-- Coming Soon -->
<section class="coming-soon" style="background-image: url(assets/images/background/1.jpg)">
    <div class="content">
        <div class="content-inner">
            <div class="auto-container">
                <div class="logo"><img src="assets/images/logo.png" alt="" /></div>
                <div class="sec-title centered"><h2>Coming Soon</h2></div>
                <div class="time-counter">
                    <!-- Time Countdown -->
                    <div class="time-countdown clearfix" data-countdown="2028/12/1"></div>

                    <!-- Clock / Bg Clock -->
                    <div class="clock-wrapper">
                        <div class="clock-base">
                            <div class="click-indicator">
                                <div><span></span></div>
                                <div><span></span></div>
                                <div><span></span></div>
                                <div><span></span></div>
                                <div><span></span></div>
                                <div><span></span></div>
                                <div><span></span></div>
                                <div><span></span></div>
                                <div><span></span></div>
                                <div><span></span></div>
                                <div><span></span></div>
                                <div><span></span></div>
                            </div>
                            <div class="clock-hour"></div>
                            <div class="clock-minute"></div>
                            <div class="clock-second"></div>
                            <div class="clock-center"></div>
                        </div>
                    </div>
                </div>
                <!--Emailed Form-->
                <div class="emailed-form">
                    <h3>Our Website is under construction.</h3>
                    <div class="text">stay tuned for something amazing! <br>Subscribe to be notified</div>
                    <form method="post" action="#">
                        <div class="form-group">
                            <input type="email" name="email" value="" placeholder="Your Email" required>
                            <button type="submit"><span class="fa fa-paper-plane"></span></button>
                        </div>
                    </form>
                </div>
                <ul class="social-box">
                    <li><a target="_blank" href="https://www.twitter.com/" target="_blank" class="fa-brands fa-twitter fa-fw"></a></li>
                    <li><a target="_blank" href="https://www.facebook.com/" target="_blank" class="fa-brands fa-facebook-f fa-fw"></a></li>
                    <li><a target="_blank" href="https://dribbble.com/" target="_blank" class="fa-brands fa-dribbble fa-fw"></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/" target="_blank" class="fa-brands fa-linkedin fa-fw"></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- End Coming Soon -->