<!-- News Two -->
<section id="blog" class="news-two" style="background-image:url(assets/images/background/4.jpg)">
  <div class="auto-container">
    <div class="sec-title">
      <div class="d-flex justify-content-between align-items-end flex-wrap">
        <div class="title-box title-anim">
          <div class="sec-title_title">Blog % Articles</div>
          <h2 class="sec-title_heading">News & Articles</h2>
        </div>
        <div class="button-box title-anim">
          <a href="blog-classic" class="theme-btn btn-style-one">
            <span class="btn-wrap">
              <span class="text-one">View More News</span>
              <span class="text-two">View More News</span>
            </span>
          </a>
        </div>
      </div>
    </div>

    <div class="row clearfix">
      <!-- News Block -->
      <div *ngFor="let article of articles; let i = index" class="news-block_two col-lg-4 col-md-6 col-sm-12">
        <div class="news-block_two-inner"
             [ngClass]="{
               'wow fadeInLeft': i === 0,
               'wow fadeInUp': i === 1,
               'wow fadeInRight': i === 2
             }"
             data-wow-delay="0ms" data-wow-duration="1500ms">

          <div class="news-block_two-date">{{ article.date | date: 'd MMM y' }}</div>

          <div class="news-block_two-image">
            <a href="blog-details/{{ article.slug }}">
              <img [src]="article.image" [alt]="article.title" />
            </a>
            <img [src]="article.image" [alt]="article.title" />
          </div>

          <div class="news-block_two-content">
            <ul class="news-block_two-meta">
              <li><span class="icon fa-regular fa-calendar fa-fw"></span>by {{ article.author }}</li>
              <li><span class="icon fa-solid fa-comments fa-fw"></span>({{ article.comments }}) Comments</li>
            </ul>
            <h4 class="news-block_two-title">
              <a href="blog-details/{{ article.slug }}">{{ article.title }}</a>
            </h4>
            <a class="news-block_two-more" href="blog-details/{{ article.slug }}">Read More</a>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>
<!-- End News Two -->
