<app-banner-v1></app-banner-v1>

<!-- Faq Two -->
<section class="faq-two">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="col-lg-6 col-md-12 col-sm-12">
                <app-faqs-v2></app-faqs-v2>
            </div>

            <div class="col-lg-6 col-md-12 col-sm-12">
                <app-contact-form-v1></app-contact-form-v1>
            </div>
        </div>
    </div>
</section>
<!-- End Faq Two -->

<app-newsletter-v2></app-newsletter-v2>