<!-- Page Title -->
<section class="page-title" style="background-image:url(assets/images/background/11.jpg)">
    <div class="auto-container">
        <div class="d-flex justify-content-between align-items-center flex-wrap">
            <div class="left-box">
                <!-- <div class="page-title_big">{{ pageTitle }}</div> -->
                <h2 class="page-title_heading">{{ pageTitle }}</h2>
            </div>
            <ul class="bread-crumb clearfix">
                <li><a href="/">Home</a></li>
                <li>{{ pageTitle }}</li>
            </ul>
        </div>
    </div>
</section>
<!-- End Page Title -->