<!-- Location One -->
<section class="location-one" style="background-image:url(assets/images/background/5.jpg)">
    <div class="auto-container">
        <div class="sec-title title-anim centered">
            <div class="sec-title_title">Venue</div>
            <h2 class="sec-title_heading">Direction For The Event Hall</h2>
        </div>
        <div class="row clearfix">
            <!-- Map Column -->
            <div class="location-one_map-column col-lg-8 col-md-12 col-sm-12">
                <app-google-map-v1></app-google-map-v1>
            </div>
            <!-- Info Column -->
            <div class="location-one_info-column col-lg-4 col-md-12 col-sm-12">

                <!-- Location Info Block -->
                <div class="location-info_block">
                    <div class="location-info_block-inner">
                        <div class="location-info_block-content">
                            <div class="location-info_block-icon flaticon-map"></div>
                            <strong>ADDRESS</strong>
                            203 Madison Ave, NY, USA
                        </div>
                    </div>
                </div>

                <!-- Location Info Block -->
                <div class="location-info_block">
                    <div class="location-info_block-inner">
                        <div class="location-info_block-content">
                            <div class="location-info_block-icon flaticon-clock"></div>
                            <strong>timing</strong>
                            On Friday 9am - 6pm
                        </div>
                    </div>
                </div>

                <!-- Location Info Block -->
                <div class="location-info_block">
                    <div class="location-info_block-inner">
                        <div class="location-info_block-content">
                            <div class="location-info_block-icon flaticon-email-1"></div>
                            <strong>MAIL TO US</strong>
                            envato&#64;gmail.com
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End Location One -->