<app-banner-v1></app-banner-v1>

<!-- Shop Detail Section -->
<div class="shop-detail-section">
    <div class="auto-container">
        <div class="shop-page">
        
            <!-- Product Details Section -->
            <div class="product-details">
                <!--Basic Details-->
                <div class="basic-details">
                    <div class="row clearfix">
                    
                        <div class="image-column col-lg-6 col-md-12 col-sm-12">
                            <div class="image">
                                <img src="assets/images/resource/products/26.jpg" alt="">
                            </div>
                        </div>
                        
                        <!--Info Column-->
                        <div class="info-column col-lg-6 col-md-12 col-sm-12">
                            <div class="inner-column">
                                <h3>BCI Boot Sensor</h3>
                                <div class="rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="light fa fa-star"></span></div>
                                <!--reviews-->
                                <div class="reviews">
                                    <a href="#">4.5</a> <a href="#">(1 customer review)</a>
                                </div>
                                <div class="item-price">$29.99<span>$39.00</span></div>
                                <div class="text">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Aliquam diam erat, tortor sit amet.</div>
                                <div class="row clearfix">
                                    <div class="column col-lg-6 col-md-6 col-ms-12">
                                        <ul class="cart-options">
                                            <li><span>Availibility :</span>In Stock</li>
                                            <li><span>Type :</span>Genrator</li>
                                        </ul>
                                    </div>
                                    <div class="column col-lg-6 col-md-6 col-ms-12">
                                        <ul class="cart-options">
                                            <li><span>Categories :</span>Electric</li>
                                            <li><span>SKU :</span>92711</li>
                                        </ul>
                                    </div>
                                </div>
                                
                                <!-- Shop Options Form -->
                                <div class="shop-options-form">
                                    <form method="post" action="#">
                                        <div class="row clearfix">
                                        
                                            <!-- Column -->
                                            <div class="column col-lg-6 col-md-6 col-ms-12">
                                                <!-- Form Group -->
                                                <div class="form-group">
                                                    <label>Size</label>
                                                    <select class="custom-select-box">
                                                        <option>Select Size</option>
                                                        <option>Size One</option>
                                                        <option>Size Two</option>
                                                        <option>Size Three</option>
                                                        <option>Size Four</option>
                                                        <option>Size Five</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                            <!-- Column -->
                                            <div class="column col-lg-6 col-md-6 col-ms-12">
                                                <!-- Form Group -->
                                                <div class="form-group">
                                                    <label>Color</label>
                                                    <select class="custom-select-box">
                                                        <option>Select Color</option>
                                                        <option>Color One</option>
                                                        <option>Color Two</option>
                                                        <option>Color Three</option>
                                                        <option>Color Four</option>
                                                        <option>Color Five</option>
                                                    </select>
                                                </div>
                                            </div>
                                            
                                        </div>
                                    </form>
                                </div>
                                <!-- End Shop Options Form -->
                                
                                <!-- Other Options -->
                                <div class="other-options">
                                    <div class="item-title">Quantity</div>
                                    <div class="clearfix">
                                        <form action="cart">
                                            <div class="pull-left">
                                                <div class="item-quantity">
                                                    <div class="quantity-spinner">
                                                        <input type="text" name="product" value="1" class="qty-spinner" />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="pull-left">
                                                <!--Btns Box-->
                                                <div class="btns-box clearfix">
                                                    <button type="submit" class="theme-btn add-to-cart">Add To Cart</button>
                                                    <ul class="shop-cart-options">
                                                        <li><a href="#"><span class="icon fa fa-heart"></span></a></li>
                                                        <li><a href="#"><span class="icon fa fa-share"></span></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                
                                <!-- Shop Tags -->
                                <ul class="shop-tags">
                                    <li class="tag-title">Tags:</li>
                                    <li><a href="#">Marketing</a></li>
                                    <li><a href="#">IT</a></li>
                                    <li><a href="#">Business</a></li>
                                    <li><a href="#">Finance</a></li>
                                </ul>
                                
                                <!-- Post Share Options-->
                                <div class="post-share-options">
                                    <div class="post-share-inner">
                                        <ul class="social-box">
                                            <li class="share">Share :</li>
                                            <li class="facebook"><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                            <li class="twitter"><a href="#"><span class="fab fa-twitter"></span></a></li>
                                            <li class="linkedin"><a href="#"><span class="fab fa-google"></span></a></li>
                                            <li class="pinterest"><a href="#"><span class="fab fa-pinterest-p"></span></a></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- End Post Share Options-->
                                
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
            <!-- End Product Details Section -->
            
        </div>
        <!-- Shop Page -->
        
        <!-- Product Info Tabs -->
        <div class="product-info-tabs">
            <!-- Product Tabs -->
            <div class="prod-tabs tabs-box">
            
                <!-- Tab Btns -->
                <ul class="tab-btns tab-buttons clearfix">
                    <li data-tab="#prod-details" class="tab-btn active-btn">Description</li>
                    <li data-tab="#prod-info" class="tab-btn">Additional Information</li>
                    <li data-tab="#prod-reviews" class="tab-btn">Reviews (1)</li>
                </ul>
                
                <!--Tabs Container-->
                <div class="tabs-content">
                    
                    <!-- Tab / Active Tab -->
                    <div class="tab active-tab" id="prod-details">
                        <div class="content">
                            <p>Lopsidedly wow fastidious before rhinoceros gosh from more unobtrusive since this unlike falsely far mundanely lethargically camel groomed save antelop thus inconspicuously since jay that for ouch far a one dog save gosh more ouch wherever that depending darn much daintily wiped hello jeez thus adversely man of war that unicorn thanks richly mannish less save like and dog from bore extensive. Supreme alas hellish circa.</p>
                            <p>Inside this beyond into bit on capable through jeez yet tolerably plain and shark stealthy more breezily because ground passably gecko pending far up erroneor yikes lantern whimsically mowed one come admonishing amidst floated fortuitous crud far the the staunchly.</p>
                        </div>
                    </div>
                    
                    <!-- Tab -->
                    <div class="tab" id="prod-info">
                        <div class="content">
                            <p>Lopsidedly wow fastidious before rhinoceros gosh from more unobtrusive since this unlike falsely far mundanely lethargically camel groomed save antelop thus inconspicuously since jay that for ouch far a one dog save gosh more ouch wherever that depending darn much daintily wiped hello jeez thus adversely man of war that unicorn thanks richly mannish less save like and dog from bore extensive. Supreme alas hellish circa.</p>
                        </div>
                    </div>
                    
                    <!-- Tab -->
                    <div class="tab" id="prod-reviews">
                        <div class="content">
                            <div class="shop-comment-box">
                                <h4>Review (1)</h4>
                                <div class="shop-comment">
                                    <div class="author-thumb"><img src="assets/images/resource/author-1.jpg" alt=""></div>
                                    <div class="comment-info clearfix"><strong>Sam Paul</strong><div class="comment-time">April 02, 2020</div></div>
                                    <div class="author-rating"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="light fa fa-star"></span></div>
                                    <div class="text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed fermentum ullamcorper enim, ut tincidunt nibh viverra sed. Fusce vel bibendum est. Aenean quis erat vel velit congue viverra Vestibulum qharetra mattis orci. Sed tincidunt tortor id pellentesque ultricies. Fusce et est lacini neque molestie aliquam. Aenean vitae elementum nunc. Vestibulum luctus vehicula eros.</div>
                                    <ul class="comment-option">
                                        <li><a href="#"><span class="icon fa fa-heart"></span>90 Likes</a></li>
                                        <li><a href="#"><span class="icon fa fa-reply-all"></span>Reply</a></li>
                                    </ul>
                                </div>
                            </div>
                            
                            <h4>Write Your Own Review</h4>
                            <h6>Add a Review</h6>
                            <!-- Rating -->
                            <div class="rating">
                                <label>Your Rating</label>
                                <a href="#" class="rate-box" title="5 Out of 5"><span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span> <span class="fa fa-star"></span></a>
                            </div>
                            
                            <!-- Shop Comment Form -->
                            <div class="shop-comment-form">
                                <form method="post" action="#">
                                    <div class="row clearfix">
                                    
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <input type="text" name="username" placeholder="Name" required>
                                        </div>
                                        
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <input type="email" name="email" placeholder="Email" required>
                                        </div>
                                        
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <textarea name="message" placeholder="Your Review"></textarea>
                                        </div>
                                        
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <div class="check-box"><input type="checkbox" name="shipping-option" id="account-option"> &ensp; <label for="account-option">Save my name, email, and website in this browser for the next time I Review.</label></div>
                                        </div>
                                        
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <button class="theme-btn btn-style-one" type="submit" name="submit-form">
                                                <span class="btn-wrap">
                                                    <span class="text-one">submit now</span>
                                                    <span class="text-two">submit now</span>
                                                </span>
                                            </button>
                                        </div>
                                        
                                    </div>
                                </form>
                                <!-- Comment Form -->
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- End Product Info Tabs -->
        
        <!-- Related Shop Section -->
        <div class="related-shop-section">
            <!-- Sec Title -->
            <div class="sec-title centered">
                <div class="title">Products</div>
                <h2>Our Related Products</h2>
            </div>
            <div class="row clearfix">
                
                <!-- Product Block Two -->
            <div class="product-block-two col-lg-3 col-md-6 col-sm-12" *ngFor="let product of products">
                <div class="inner-box">
                    <div class="image">
                        <a href="product-details/{{ product.slug }}"><img [src]="product.image" [alt]="product.name" /></a>
                        <ul class="options-navs">
                          <li><a href="product-details/{{ product.slug }}" class="fa fa-heart"></a></li>
                          <li><a href="product-details/{{ product.slug }}" class="fa-solid fa-cart-shopping fa-fw"></a></li>
                          <li><a [href]="product.image" data-fancybox="gallery" class="fa-solid fa-eye fa-fw lightbox-image"></a></li>
                        </ul>
                      </div>
                      <div class="lower-content">
                        <div class="plus-box">
                          <div class="icon fa fa-plus"></div>
                        </div>
                        <h6><a href="product-details/{{ product.slug }}">{{ product.name }}</a></h6>
                        <div class="rating">
                          <span *ngFor="let star of [].constructor(product.rating)" class="fa fa-star"></span>
                          <span *ngFor="let empty of [].constructor(5 - product.rating)" class="light fa fa-star"></span>
                        </div>
                        <div class="price">
                          <span [ngClass]="{ 'line-through': product.discount }">{{ product.price }}</span>
                          <span *ngIf="product.discount"> - {{ product.discount }}</span>
                        </div>              
                      </div>
                </div>
            </div>
            
        </div>
        </div>
    </div>
</div>
<!-- End Shop Detail Section -->

<app-newsletter-v2></app-newsletter-v2>