<app-banner-v1></app-banner-v1>

<!-- Shop Page Section -->
<section class="shop-page-section">
    <div class="auto-container">
        <div class="row clearfix">
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <app-products-v1></app-products-v1>
            </div>

            <!-- Sidebar Side -->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <app-shop-widgets></app-shop-widgets>
            </div>
        </div>
    </div>
</section>
<!-- End Shop Page Section -->

<app-newsletter-v2></app-newsletter-v2>