<app-banner-v1></app-banner-v1>

<!-- Event Three -->
<section class="event-detail">
    <div class="auto-container">
        <div class="inner-container">
            <div class="event-detail_image">
                <img src="assets/images/resource/event.jpg" alt="" />
            </div>
            <div class="upper-box d-flex justify-content-between flex-wrap">
                <h2 class="event-detail_title">Home Life Open Entryway <br>	Open Occasion</h2>
                <div class="event-detail_author">
                    <div class="event-detail_author-image">
                        <img src="assets/images/resource/author-3.jpg" alt="" />
                    </div>
                    <div class="event-detail_author-name">Paul Wilson, <span>Art Critic</span></div>
                    <div class="event-detail_author-location"><span>Location:</span> Hall 1, Building, <br> Golden Street , Southafrica</div>
                    <div class="event-detail_author-timing">08.00 am  09.00 am</div>
                    <div class="event-detail_author-icon flaticon-voice"></div>
                </div>
            </div>
            <p>Dolor sit amet consectetur elit sed do eiusmod tempor incd idunt labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat.duis aute irure dolor in repre hen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur cepteur sint occaecat cupidatat eaque ipsa quae illo proident sunt in culpa qui officia deserunt mollit anim id est laborum perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore laudant rem aperiam eaque ipsa quae ab illo inventore veritatis quasi architecto.</p>
            <p>Dolor sit amet consectetur elit sed do eiusmod tempor incd idunt labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat.duis aute irure dolor in reprehen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur cepteur sint occaecat cupidatat.</p>
            <div class="middle-column">
                <div class="row clearfix">
                    <div class="column col-lg-6 col-md-12 col-sm-12">
                        <h3 class="event-detail_subtitle">Evolution of user Interface</h3>
                        <ul class="event-detail_list">
                            <li>Multiple Announcements during the event.</li>
                            <li>Logo & company details on the WordCamp Kolkata.</li>
                            <li>Dedicated blog post thanking each of our Gold.</li>
                            <li>Acknowledgment and thanks in opening and closing.</li>
                        </ul>
                    </div>
                    <div class="column col-lg-6 col-md-6 col-sm-12">
                        <div class="event-detail_image-two">
                            <img src="assets/images/resource/event-1.jpg" alt="" />
                        </div>
                    </div>
                </div>
            </div>
            <p>Dolor sit amet consectetur elit sed do eiusmod tempor incd idunt labore et dolore magna aliqua enim ad minim veniam quis nostrud exercitation ullamco laboris nisi ut aliquip exea commodo consequat.duis aute irure dolor in repre hen derit in voluptate velit esse cillum dolore eu fugiat nulla pariatur cepteur sint occaecat cupidatat eaque ipsa quae illo proident sunt in culpa qui officia deserunt mollit anim id est laborum perspiciatis unde omnis iste natus error sit voluptatem accusantium dolore laudant rem aperiam eaque ipsa quae ab illo inventore veritatis quasi architecto.</p>
        </div>
    </div>
</section>
<!-- End Event Three -->

<app-newsletter-v2></app-newsletter-v2>