<!-- Price One -->
<section class="price-one">
    <div class="price-one_pattern" style="background-image:url(assets/images/background/pattern-4.png)"></div>
    <div class="auto-container">
        <div class="sec-title title-anim centered">
            <div class="sec-title_title">Conference Ticket Price</div>
            <h2 class="sec-title_heading">Conference Tickets Now </h2>
        </div>
        <div class="row clearfix">

            <!-- Pricing Block -->
            <div class="pricing-block col-lg-6 col-md-12 col-sm-12 wow fadeInLeft">
                <div class="inner-box">
                    <div class="upper-box clearfix">
                        <h3 class="title">Per-Parson Pass</h3>
                        <div class="price">$95.00</div>
                    </div>

                    <div class="lower-content">
                        <div class="text">David blatant a blinding shot such a fibber gosh baking cakes what a plonker, cockup victoria sponge.</div>

                        <ul class="feature-list clearfix">
                            <li class="true">Conference Tickets</li>
                            <li class="true">50 Videos to Upload</li>
                            <li class="true">Easy Access</li>
                            <li class="true">16 Contacts</li>
                            <li class="true">Free Lunch And Coffee</li>
                            <li class="false">Printed Metarials</li>
                            <li class="true">Certificate</li>
                            <li class="false">More Options</li>
                        </ul>

                        <div class="btn-box">
                            <a href="#" class="theme-btn btn-style-one">
                                <span class="btn-wrap">
                                    <span class="text-one">Buy Ticket</span>
                                    <span class="text-two">Buy Ticket</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Pricing Block -->
            <div class="pricing-block style-two col-lg-6 col-md-12 col-sm-12 wow fadeInRight">
                <div class="inner-box">
                    <div class="upper-box clearfix">
                        <h3 class="title">Full-Family Pass</h3>
                        <div class="price">$120.00</div>
                    </div>

                    <div class="lower-content">
                        <div class="text">David blatant a blinding shot such a fibber gosh baking cakes what a plonker, cockup victoria sponge.</div>

                        <ul class="feature-list clearfix">
                            <li class="true">Conference Tickets</li>
                            <li class="true">50 Videos to Upload</li>
                            <li class="true">Easy Access</li>
                            <li class="true">16 Contacts</li>
                            <li class="true">Free Lunch And Coffee</li>
                            <li class="true">Printed Metarials</li>
                            <li class="true">Certificate</li>
                            <li class="true">More Options</li>
                        </ul>

                        <div class="btn-box">
                            <a href="#" class="theme-btn btn-style-two">
                                <span class="btn-wrap">
                                    <span class="text-one">Buy Ticket</span>
                                    <span class="text-two">Buy Ticket</span>
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Price One -->