<!-- About Two -->
<section id="about" class="about-two">
    <div class="about-two_pattern-one" style="background-image:url(assets/images/background/pattern-15.png)"></div>
    <div class="about-two_pattern-two" style="background-image:url(assets/images/background/pattern-16.png)"></div>
    <div class="about-two_pattern-three" style="background-image:url(assets/images/background/pattern-18.png)"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Content Column -->
            <div class="about-two_content-column col-lg-6 col-md-12 col-sm-12">
                <div class="about-two_content-inner">
                    <div class="sec-title title-anim">
                        <div class="sec-title_title">Introduction</div>
                        <h2 class="sec-title_heading">Know More About Our <br> Grand Event</h2>
                        <div class="sec-title_text">Consequat sociosqu officiis aute ridiculus repellat in ali quip, me us socios veritat is cubilia soluta? Facibus ipsam, incidunt cras.</div>
                    </div>
                    <div class="about-two_options">
                        <ul class="about-two_options-list">
                            <li><span class="icon flaticon-checked-1"></span>Lusto tenetur temporibus repellendus aspernatur, blandit ullam cupidatat quisquam lacinia.</li>
                            <li><span class="icon flaticon-checked-1"></span>Minima mattis laudantium nobis odit explicabo sapien nunc. Reprehenderit molestiae.</li>
                        </ul>
                    </div>
                    <div class="d-flex align-items-center flex-wrap">
                        <div class="about-two_signature">micheal clark</div>
                        <div class="about-two_author">
                            MD WILLIAM HOUSTON <span> Event Organiser</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Image Column -->
            <div class="about-two_image-column col-lg-6 col-md-12 col-sm-12">
                <div class="about-two_image-inner">
                    <div class="about-two_image titlt" data-tilt data-tilt-max="5">
                        <img src="assets/images/resource/about-1.png" alt="" />
                    </div>
                    <!-- About Two Counter -->
                    <div class="about-two_counter" style="background-image:url(assets/images/background/pattern-17.png)">
                        <div class="about-two_counter-words"><span class="odometer" data-count="35"></span>K</div>
                        <div class="about-two_counter-text">We’ve help our <span>street children</span></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About Two -->