<section class="testimonial-two">
    <div class="auto-container">
      <div class="row clearfix">
        <div
          class="testimonial-block_one col-lg-6 col-md-12 col-sm-12"
          *ngFor="let testimonial of paginatedTestimonials"
        >
          <div class="testimonial-block_one-inner">
            <div class="testimonial-block_one-content">
              <div class="testimonial-block_one-text">{{ testimonial.text }}</div>
              <div class="testimonial-block_one-rating">
                <span class="fa fa-star" *ngFor="let star of [].constructor(testimonial.rating)"></span>
              </div>              
              <div class="testimonial-block_one-quote flaticon-quote"></div>
            </div>
            <div class="testimonial-block_one-lower">
              <div class="testimonial-block_one-author">
                <img [src]="testimonial.img" alt="" />
              </div>
              <strong>{{ testimonial.name }}</strong>
              {{ testimonial.role }}
            </div>
          </div>
        </div>
      </div>
  
      <ul class="styled-pagination text-center">
        <li class="next" (click)="prevPage()">
          <a href="javascript:void(0)"><span class="fa fa-angle-double-left"></span></a>
        </li>
        <li *ngFor="let page of totalPages">
          <a
            href="javascript:void(0)"
            [class.active]="page === currentPage"
            (click)="goToPage(page)"
          >{{ page }}</a>
        </li>
        <li class="next" (click)="nextPage()">
          <a href="javascript:void(0)"><span class="fa fa-angle-double-right"></span></a>
        </li>
      </ul>
    </div>
  </section>
  