<!-- Countdown Section -->
	<section class="countdown-section style-two">
		<div class="auto-container">
			<div class="outer-box wow fadeInUp clearfix">
				
				<div class="sec-title title-anim">
					<div class="sec-title_title">About the Event</div>
					<h2 class="sec-title_heading">International Technology <br> Summit 2024</h2>
				</div>
				<div class="countdown-column">
					<div class="time-counter"><div class="time-countdown clearfix" data-countdown="2030/10/19"></div></div>
				</div>
			</div>
		</div>
	</section>
	<!--End Countdown Section -->