<!-- Events Banner Section -->
<section class="events-banner-section" style="background-image: url(assets/images/background/13.jpg)">
    <!-- Icons -->
    <div class="icons parallax-scene-1">
        <!-- Icon One -->
        <div data-depth="0.20" class="icon-one parallax-layer" style="background-image:url(assets/images/icons/icon-14.png)"></div>
        <!-- Icon Two -->
        <div data-depth="0.50" class="icon-two parallax-layer" style="background-image:url(assets/images/icons/icon-15.png)"></div>
        <!-- Icon Three -->
        <div data-depth="0.10" class="icon-three parallax-layer" style="background-image:url(assets/images/icons/icon-16.png)"></div>
        <!-- Icon Four -->
        <div data-depth="0.30" class="icon-four parallax-layer" style="background-image:url(assets/images/icons/icon-17.png)"></div>
        <!-- Icon Five -->
        <div data-depth="0.10" class="icon-five parallax-layer" style="background-image:url(assets/images/icons/icon-18.png)"></div>
        <!-- Icon Six -->
        <div data-depth="0.20" class="icon-six parallax-layer" style="background-image:url(assets/images/icons/icon-19.png)"></div>
        <!-- Icon Seven -->
        <div data-depth="0.10" class="icon-seven parallax-layer" style="background-image:url(assets/images/icons/icon-20.png)"></div>
        <!-- Icon One -->
        <div data-depth="0.20" class="icon-eight parallax-layer" style="background-image:url(assets/images/icons/icon-21.png)"></div>
        <!-- Icon Two -->
        <div data-depth="0.50" class="icon-nine parallax-layer" style="background-image:url(assets/images/icons/icon-14.png)"></div>
        <!-- Icon Three -->
        <div data-depth="0.10" class="icon-ten parallax-layer" style="background-image:url(assets/images/icons/icon-18.png)"></div>
        <!-- Icon Four -->
        <div data-depth="0.30" class="icon-eleven parallax-layer" style="background-image:url(assets/images/icons/icon-20.png)"></div>
        <!-- Icon Five -->
        <div data-depth="0.10" class="icon-twelve parallax-layer" style="background-image:url(assets/images/icons/icon-21.png)"></div>
        <!-- Icon Six -->
        <div data-depth="0.20" class="icon-thirteen parallax-layer" style="background-image:url(assets/images/icons/icon-15.png)"></div>
        <!-- Icon Seven -->
        <div data-depth="0.10" class="icon-fourteen parallax-layer" style="background-image:url(assets/images/icons/icon-16.png)"></div>
    </div>
    <div class="auto-container">
        <!-- Content Boxed -->
        <div class="content-boxed">
            <div class="inner-column">
                <h1>International Technology <br> Summit 2024</h1>
                <ul class="event-info">
                    <li><span class="icon fa-solid fa-location-pin fa-fw"></span>TechX Park, NY, New York</li>
                    <li><span class="icon fa-solid fa-clock fa-fw"></span>14 April 2024, 10:00 AM-6:00 PM</li>
                </ul>
                <!-- Time Countdown -->
                <div class="time-counter">
                    <div class="time-countdown clearfix" data-countdown="2028/12/1"></div>
                </div>
                <div class="btns-box">
                    <a href="contact-us-01" class="theme-btn btn-style-one">
                        <span class="btn-wrap">
                            <span class="text-one">Book Ticket</span>
                            <span class="text-two">Book Ticket</span>
                        </span>
                    </a>
                    <a href="about-us" class="theme-btn btn-style-one">
                        <span class="btn-wrap">
                            <span class="text-one">About More</span>
                            <span class="text-two">About More</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
        
    </div>
    <!--Waves Container-->
    <div>
        <svg class="waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 24 150 28" preserveAspectRatio="none" shape-rendering="auto">
        <defs>
        <path id="gentle-wave" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z" />
        </defs>
        <g class="parallax">
        <use xlink:href="#gentle-wave" x="48" y="0" fill="rgba(255,255,255,0.7" />
        <use xlink:href="#gentle-wave" x="48" y="3" fill="rgba(255,255,255,0.5)" />
        <use xlink:href="#gentle-wave" x="48" y="5" fill="rgba(255,255,255,0.3)" />
        <use xlink:href="#gentle-wave" x="48" y="7" fill="#fff" />
        </g>
        </svg>
    </div>
    <!--Waves end-->
</section>
<!--End Banner Section-->