<ul class="navigation clearfix">
    <li class="dropdown"><a href="#">Home</a>
        <ul>
            <li><a href="/">Homepage 01</a></li>
            <li><a href="homepage-02">Homepage 02</a></li>
            <li><a href="homepage-03">Homepage 03</a></li>
            <li><a href="homepage-04">Homepage 04</a></li>
            <li><a href="homepage-05">Homepage 05</a></li>
            <li><a href="homepage-06">Homepage 06</a></li>
            <li class="dropdown"><a href="#">One Pager Style</a>
                <ul>
                    <li><a href="onepage-01">HomePage 01</a></li>
                    <li><a href="onepage-02">HomePage 02</a></li>
                    <li><a href="onepage-03">HomePage 03</a></li>
                    <li><a href="onepage-04">HomePage 04</a></li>
                    <li><a href="onepage-05">HomePage 05</a></li>
                    <li><a href="onepage-06">HomePage 06</a></li>
                </ul>
            </li>
            <li class="dropdown"><a href="#">Header Styles</a>
                <ul>
                    <li><a href="/">Header 01</a></li>
                    <li><a href="homepage-02">Header 02</a></li>
                    <li><a href="homepage-03">Header 03</a></li>
                    <li><a href="homepage-04">Header 04</a></li>
                    <li><a href="homepage-05">Header 05</a></li>
                    <li><a href="homepage-06">Header 06</a></li>
                </ul>
            </li>
        </ul>
    </li>
    <li class="dropdown"><a href="#">About</a>
        <ul>
            <li><a href="about-us">About us</a></li>
            <li><a href="faqs">Faq's</a></li>
            <li><a href="price">Price</a></li>
            <li><a href="schedule">Schedule</a></li>
            <li><a href="gallery">Gallery</a></li>
            <li><a href="testimonial">Testimonial</a></li>
            <li><a href="coming-soon">Coming Soon</a></li>
            <li><a href="terms-conditions">Terms & Condition</a></li>
            <li><a href="privacy-policy">Privacy & Policy</a></li>
        </ul>
    </li>
    <li class="dropdown"><a href="#">Speakers</a>
        <ul>
            <li><a href="speakers">Speakers</a></li>
            <li><a href="speaker-details/patrick-spencer">Speaker Detail</a></li>
        </ul>
    </li>
    <li class="dropdown"><a href="#">Events</a>
        <ul>
            <li><a href="events">Events</a></li>
            <li><a href="event-details/registration-for-opening-workshop">Events Detail</a></li>
        </ul>
    </li>
    <li class="dropdown"><a href="#">Shop</a>
        <ul>
            <li><a href="products">Products</a></li>
            <li><a href="product-details/bci-boot-sensor">Product Details</a></li>
            <li><a href="cart">Shoping Cart</a></li>
            <li><a href="checkout">Checkout</a></li>
            <li><a href="my-account">My Account</a></li>
            <li><a href="login">Login</a></li>
        </ul>
    </li>
    <li class="dropdown"><a href="#">Blog</a>
        <ul>
            <li><a href="blog-v1">Our Blog</a></li>
            <li><a href="blog-v2">Blog left Sidebar</a></li>
            <li><a href="blog-classic">Blog Classic</a></li>
            <li><a href="blog-details/international-conference-on-art-business">Blog Detail</a></li>
            <li><a href="not-found">Not Found</a></li>
        </ul>
    </li>
    <li class="dropdown"><a href="#">Contact</a>
        <ul>
            <li><a href="contact-us-01">Contact 01</a></li>
            <li><a href="contact-us-02">Contact 02</a></li>
            <li><a href="contact-us-03">Contact 03</a></li>
        </ul>
    </li>
</ul>