<app-banner-v1></app-banner-v1>

<!-- Account Page Section -->
<div class="account-page-section">
    <div class="auto-container">
        <!-- Account Info Tabs -->
        <div class="account-info-tabs">
            <div class="account-tabs tabs-box">
            
                <!--Tab Btns-->
                <ul class="tab-btns tab-buttons clearfix">
                    <li data-tab="#account-dashboard" class="tab-btn active-btn">Dashboard</li>
                    <li data-tab="#account-order" class="tab-btn">Orders</li>
                    <li data-tab="#account-download" class="tab-btn">Download</li>
                    <li data-tab="#account-address" class="tab-btn">Address</li>
                    <li data-tab="#account-account" class="tab-btn">Account Details</li>
                    <li data-tab="#account-logout" class="tab-btn">Logout</li>
                </ul>
                
                <!--Tabs Container-->
                <div class="tabs-content">
                    
                    <!-- Tab / Active Tab -->
                    <div class="tab active-tab" id="account-dashboard">
                        <div class="content">
                            <div class="dashboard-content">
                                <h4>Hello <span>&#64;username</span> (not <span>&#64;username</span>? <span>Log out</span>)</h4>
                                <div class="dashboard-text">From your account dashboard you can view your recent orders, manage your shipping and billing addresses, and edit your password and account details.</div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Tab -->
                    <div class="tab" id="account-order">
                        <div class="content">
                            <!-- Order Box -->
                            <div class="account-order-box">
                                <div class="total-order"><span class="icon fa fa-exclamation"></span>No order has been made yet</div>
                                <a href="products" class="theme-btn btn-style-one">
                                    <span class="btn-wrap">
                                        <span class="text-one">start shoping</span>
                                        <span class="text-two">start shoping</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Tab -->
                    <div class="tab" id="account-download">
                        <div class="content">
                            <!-- Order Box -->
                            <div class="account-order-box">
                                <div class="total-order"><span class="icon fa fa-exclamation"></span>No downloads available yet</div>
                                <a href="products" class="theme-btn btn-style-one">
                                    <span class="btn-wrap">
                                        <span class="text-one">start downloading</span>
                                        <span class="text-two">start downloading</span>
                                    </span>
                                </a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Tab -->
                    <div class="tab" id="account-address">
                        <div class="content">
                            <!-- Account Address Box -->
                            <div class="account-address-box">
                                <div class="row clearfix">
                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                        <h4>Billing Address</h4>
                                        <a href="#" class="add-here">Add</a>
                                        <ul class="address-list">
                                            <li>First name & Last name</li>
                                            <li>Company name</li>
                                            <li>Street address</li>
                                            <li>Town / City</li>
                                            <li>10001</li>
                                            <li>Åland Islands</li>
                                        </ul>
                                    </div>
                                    <div class="column col-lg-6 col-md-6 col-sm-12">
                                        <h4>Shipping Address</h4>
                                        <a href="#" class="add-here">Add</a>
                                        <ul class="address-list">
                                            <li>You have not set up this type of address yet.</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Tab -->
                    <div class="tab" id="account-account">
                        <div class="content">
                            <!-- Account Form -->
                            <div class="account-form">
                                <form method="post" action="#">
                                    <div class="row clearfix">
                                    
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <label>First Name</label>
                                            <input type="text" name="username" placeholder="" required="">
                                        </div>
                                        
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <label>Last Name </label>
                                            <input type="text" name="username" placeholder="" required="">
                                        </div>
                                        
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <label>User Name</label>
                                            <input type="text" name="username" placeholder="" required="">
                                            <span class="sub-text">This will be how your name will be displayed in the account section and in reviews</span>
                                        </div>
                                        
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <label>Email Address</label>
                                            <input type="email" name="email" placeholder="" required="">
                                        </div>
                                        
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <h4>Update Password</h4>
                                        </div>
                                        
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-12 col-md-12 col-sm-12">
                                            <label>Current Password</label>
                                            <input type="password" name="password" placeholder="" required="">
                                        </div>
                                        
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <label>New Password</label>
                                            <input type="password" name="password" placeholder="" required="">
                                        </div>
                                        
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <label>Re-Type Password</label>
                                            <input type="password" name="password" placeholder="" required="">
                                        </div>
                                        
                                        <!-- Form Group -->
                                        <div class="form-group col-lg-6 col-md-6 col-sm-12">
                                            <button class="theme-btn btn-style-one" type="submit" name="submit-form">
                                                <span class="btn-wrap">
                                                    <span class="text-one">save changes</span>
                                                    <span class="text-two">save changes</span>
                                                </span>
                                            </button>
                                        </div>
                                        
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    
                    <!-- Tab -->
                    <div class="tab" id="account-logout">
                        <div class="content">
                            <button class="theme-btn btn-style-one" type="submit" name="submit-form">
                                <span class="btn-wrap">
                                    <span class="text-one">log Out</span>
                                    <span class="text-two">log Out</span>
                                </span>
                            </button>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
        
    </div>
</div>
<!-- End Account Page Section -->

<app-newsletter-v2></app-newsletter-v2>