<app-banner-v1></app-banner-v1>

<!-- Contact Page Section -->
<section class="contact-page-section-two">
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Map Column -->
            <div class="map-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <!--Map Outer-->
                    <div class="map-outer">
                        <app-google-map-v1></app-google-map-v1>
                    </div>
                </div>
            </div>
            <!-- Info Column -->
            <div class="info-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column">
                    <ul class="info">
                        <li><span>Email</span>Info&#64;gmail.com</li>
                        <li><span>Phone number</span>(+678) 234 43333 56</li>
                        <li><span>Office Address</span>Unit 6C Boundary Medical Land, <br> Millfield Road, Bolton, BL2 6QY</li>
                        <li><span>Send us mail</span>To discuss us about work with us <br> you can contact us.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Page Section -->

<!-- Contact Form Section -->
<section class="contact-form-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Form Column -->
            <div class="form-column col-lg-7 col-md-12 col-sm-12">
                <div class="inner-column">
                    <h3>Send us a message</h3>
                    
                    <!-- Comment Form -->
                    <div class="default-form contact-form">
                        <app-contact-form-v3></app-contact-form-v3>
                    </div>
                    <!-- End Comment Form -->
                    
                </div>
            </div>
            <!-- Image Column -->
            <div class="image-column col-lg-5 col-md-12 col-sm-12">
                <div class="inner-column">
                    <div class="image wow fadeInRight" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <img src="assets/images/resource/contact.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Form Section -->

<app-newsletter-v2></app-newsletter-v2>