<!-- About One -->
<section id="about" class="about-one" [ngClass]="{'style-two': currentRoute === '/about-us'}">
    <div class="about-one_pattern-one" data-parallax='{"y" : 80}' style="background-image:url(assets/images/background/pattern-1.png)"></div>
    <div class="about-one_pattern-two" data-parallax='{"y" : 120}' style="background-image:url(assets/images/background/pattern-3.png)"></div>
    <div class="about-one_pattern-three" style="background-image:url(assets/images/background/pattern-2.png)"></div>
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Image Column -->
            <div class="about-one_image-column col-lg-6 col-md-12 col-sm-12">
                <div class="about-one_image-inner">
                    <div class="about-one_pattern-four" style="background-image:url(assets/images/background/about-pattern.png)"></div>
                    <div class="about-one_image wow rollIn">
                        <img src="assets/images/resource/about.jpg" alt="" />
                    </div>
                    <a href="https://www.youtube.com/watch?v=YS3PwmOQ1Fc" class="lightbox-video slider-one_play"><span class="fa fa-play"><i class="ripple"></i></span></a>
                </div>
            </div>
            <!-- Content Column -->
            <div class="about-one_content-column col-lg-6 col-md-12 col-sm-12">
                <div class="about-one_content-inner">
                    <div class="sec-title title-anim">
                        <div class="sec-title_title">About Event</div>
                        <h2 class="sec-title_heading">An Evening For Creator & Art Lover Meet Together</h2>
                    </div>
                    <div class="about-one_bold-text">Grow, scrape their knees, try new things, to be vulnerable, and to have epic adventures together</div>
                    <div class="about-one_text">We’re inviting the top creatives in the tech industry from all over the world to come learn, grow, scrape their knees, try new things, to be vulnerable, and to have epic adventures together, this time both</div>
                    <div class="row clearfix">
                        <!-- About One Block -->
                        <div class="about-one_block col-lg-6 col-md-6 col-sm-12">
                            <div class="about-one_block-inner">
                                <span class="about-one_block-icon flaticon-map"></span>
                                <strong>Where</strong>
                                North Harond, Canada
                            </div>
                        </div>
                        <!-- About One Block -->
                        <div class="about-one_block col-lg-6 col-md-6 col-sm-12">
                            <div class="about-one_block-inner">
                                <span class="about-one_block-icon flaticon-calendar-2"></span>
                                <strong>When</strong>
                                March 25 to 29, 2024
                            </div>
                        </div>
                    </div>
                    <div class="about-one_button">
                        <a href="about-us" class="theme-btn btn-style-one">
                            <span class="btn-wrap">
                                <span class="text-one">Buy Ticket</span>
                                <span class="text-two">Buy Ticket</span>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End About One -->