<!-- Clients One -->
<section class="clients-one style-two">
    <div class="auto-container">
        <div class="sec-title title-anim centered">
            <div class="sec-title_title">Sponsors and Exhibitors</div>
            <h2 class="sec-title_heading">Appreciate Our Kind Partners</h2>
        </div>
        <div class="row clearfix">

            <!-- Client Column -->
            <div class="clients-one_column col-lg-3 col-md-4 col-sm-6" *ngFor="let partner of partners">
                <a href="{{ partner.url }}"><img src="{{ partner.image }}" alt="" /></a>
            </div>

        </div>
    </div>
</section>
<!-- End Clients One -->