<!-- Business One -->
<section id="about" class="business-one">
    <div class="auto-container">
        <div class="row clearfix">

            <!-- Content Column -->
            <div class="business-one_content-column col-lg-6 col-md-12 col-sm-12">
                <div class="business-one_content-inner">
                    <div class="sec-title title-anim">
                        <div class="sec-title_title">Become Succesfuly day</div>
                        <h2 class="sec-title_heading">The Most inspirational Conference For Business.</h2>
                    </div>
                    <div class="business-one_bold-text">Grow, scrape their knees, try new things, to be vulnerable, and to have epic adventures together</div>
                    <div class="business-one_text">We’re inviting the top creatives in the tech industry from all over the world to come learn, grow, scrape their knees, try new things, to be vulnerable, and to have epic adventures together, this time both in-person</div>
                    <div class="business-one_feature">
                        <div class="business-one_feature-icon flaticon-tourist"></div>
                        <strong>Exclusive Keynotes</strong>
                        Dolor sit amet consectetur elit sed eiusmod tempor in idunt cet.
                    </div>
                    <div class="business-one_feature">
                        <div class="business-one_feature-icon flaticon-leader"></div>
                        <strong>Off-Side Trips</strong>
                        Dolor sit amet consectetur elit sed eiusmod tempor in idunt cet.
                    </div>

                    <div class="business-one_button">
                        <a href="contact-us-01" class="theme-btn btn-style-one">
                            <span class="btn-wrap">
                                <span class="text-one">Book Ticket</span>
                                <span class="text-two">Book Ticket</span>
                            </span>
                        </a>
                    </div>

                </div>
            </div>

            <!-- Image Column -->
            <div class="business-one_image-column col-lg-6 col-md-12 col-sm-12">
                <div class="business-one_image-inner">
                    <div class="business-one_pattern-one" style="background-image:url(assets/images/background/pattern-21.png)"></div>
                    <div class="business-one_experiance">
                        <div class="business-one_counter"><span class="odometer" data-count="35"></span>years</div>
                        <i>Successful Worldwide</i>
                        <strong>Conference</strong>
                    </div>
                    <div class="business-one_image">
                        <img src="assets/images/resource/business-1.jpg" alt="" />
                    </div>
                    <div class="business-one_image-two" data-parallax='{"y" : 80}'>
                        <img src="assets/images/resource/business-2.jpg" alt="" />
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Business One -->