<app-banner-v1></app-banner-v1>

<!-- Speaker Detail -->
<section class="speaker-detail">
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Author Column -->
            <div class="speaker-detail_author-column col-lg-4 col-md-6 col-sm-12">
                <div class="speaker-detail_author-inner">
                    <div class="speaker-detail_author-pattern" style="background-image:url(assets/images/background/pattern-27.png)"></div>
                    <div class="speaker-detail_author-image">
                        <img src="assets/images/resource/team-2.jpg" alt="" />
                        <div class="speaker-detail_social-list">
                            <a href="https://facebook.com/" class="facebook fa-brands fa-facebook-f"></a>
                            <a href="https://twitter.com/" class="twitter fa-brands fa-twitter"></a>
                            <a href="https://instagram.com/" class="youtube fa-brands fa-instagram"></a>
                            <a href="https://youtube.com/" class="youtube fa-brands fa-youtube"></a>
                        </div>
                    </div>
                    <div class="speaker-detail_author-content">
                        <h4 class="speaker-detail_title"><a href="team-detail">Matthew White</a></h4>
                        <div class="speaker-detail_designation">Facebook's Co-Founder</div>
                    </div>
                </div>
            </div>
            <!-- Content Column -->
            <div class="content-column col-lg-8 col-md-12 col-sm-12">
                <h2 class="speaker-detail_subtitle">Personal Information</h2>
                <p>Anna assumed the role of Chief Product Officer in July 2017 and leads the product team, which designs, builds and optimizes the Netflix experience. Previously, Anna was International Development Officer for Netflix, responsible for the global partnerships with consumer electronics.</p>
                <p>Prior to joining Netflix in 2008, Anna was senior vice president of consumer electronics products for Macrovision Solutions Corp. (later renamed to Rovi Corporation) and previously held positions at digital entertainment software provider, Mediabolic Inc., Red Hat Network, the provider of Linux and Open Source technology, and online vendor Wine.</p>
                <h3 class="speaker-detail_subtitle">Contact info</h3>
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <ul class="speaker-detail_info">
                            <li><span>Speciality:</span> Product Designer</li>
                            <li><span>Experience:</span> 10 Years</li>
                            <li><span>Phone:</span> 700.123.456.789</li>
                        </ul>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <ul class="speaker-detail_info">
                            <li><span>Company:</span> Netflix</li>
                            <li><span>Email:</span> angelina888&#64;mail.com</li>
                            <li><span>Fax:</span> 700.123.456.789</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Speaker Detail -->

<!-- Speaker Schedule -->
<section class="speaker-schedule">
    <div class="auto-container">
        <h4 class="speaker-detail_subtitle">Speeches By: Matthew White</h4>
        <div class="row clearfix">

            <div class="col-lg-8 col-md-12 col-sm-12">
                
                <!-- Event Block Three -->
                <div class="event-block_three">
                    <div class="event-block_three-inner">
                        <div class="event-block_three-room">
                            <div class="event-block_three-icon flaticon-clock-2"></div>
                            <div class="event-block_three-room_number">Room#2 <span>10:00am -12:00pm</span></div>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div class="event-block_three-date">2022-11-15</div>
                            <div class="event-block_three-day">First Day</div>
                        </div>
                        <h3 class="event-block_three-heading"><a href="#">How to Start Freelancing</a></h3>
                        <div class="event-block_three-text">All the generators on the Internet tend to repeat predefined chunk as necessary, making this the first true generator on the Internet.</div>
                        <div class="event-block_three-place"><strong>Place:</strong> 5 Universal Principles of Company Growth</div>
                    </div>
                </div>

                <!-- Event Block Three -->
                <div class="event-block_three">
                    <div class="event-block_three-inner">
                        <div class="event-block_three-room">
                            <div class="event-block_three-icon flaticon-clock-2"></div>
                            <div class="event-block_three-room_number">Room#1 <span>10:00am -12:00pm</span></div>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div class="event-block_three-date">2022-11-15</div>
                            <div class="event-block_three-day">2nd Day</div>
                        </div>
                        <h3 class="event-block_three-heading"><a href="#">Design for Startups</a></h3>
                        <div class="event-block_three-text">All the generators on the Internet tend to repeat predefined chunk as necessary, making this the first true generator on the Internet.</div>
                        <div class="event-block_three-place"><strong>Place:</strong> 5 Universal Principles of Company Growth</div>
                    </div>
                </div>

                <!-- Event Block Three -->
                <div class="event-block_three">
                    <div class="event-block_three-inner">
                        <div class="event-block_three-room">
                            <div class="event-block_three-icon flaticon-clock-2"></div>
                            <div class="event-block_three-room_number">Room#3 <span>10:00am -12:00pm</span></div>
                        </div>
                        <div class="d-flex flex-wrap">
                            <div class="event-block_three-date">2022-11-15</div>
                            <div class="event-block_three-day">3rd Day</div>
                        </div>
                        <h3 class="event-block_three-heading"><a href="#">Finance For Freelancers</a></h3>
                        <div class="event-block_three-text">All the generators on the Internet tend to repeat predefined chunk as necessary, making this the first true generator on the Internet.</div>
                        <div class="event-block_three-place"><strong>Place:</strong> 5 Universal Principles of Company Growth</div>
                    </div>
                </div>

            </div>
            <div class="col-lg-4 col-md-12 col-sm-12">
                <div class="speaker-schedule_form" style="background-image:url(assets/images/background/faq.jpg)">
                    <div class="speaker-schedule_title-box">
                        <div class="speaker-schedule_title">For Contact That Speaker</div>
                        <h3 class="speaker-schedule_heading">Quick Contact</h3>
                    </div>

                    <!-- Faq Form -->
                    <div class="faq-form">
                        <form method="post" action="#">
                            
                            <div class="form-group">
                                <input type="text" name="username" placeholder="Name" required="">
                            </div>
                            
                            <div class="form-group">
                                <input type="text" name="username" placeholder="Email" required="">
                            </div>
                            
                            <div class="form-group">
                                <input type="text" name="phone" placeholder="Phone Number" required="">
                            </div>
                            
                            <div class="form-group">
                                <textarea class="" name="message" placeholder="Enter your Massage*"></textarea>
                            </div>
                            
                            <div class="form-group">
                                <!-- Button Box -->
                                <div class="button-box">
                                    <button class="theme-btn submit-btn">
                                        Submit Now
                                    </button>
                                </div>
                            </div>
                                
                        </form>
                    </div>
                    <!-- End Comment Form -->

                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Speaker Schedule -->

<app-newsletter-v2></app-newsletter-v2>