<aside class="sidebar sticky-top">

    <!-- Sidebar Widget -->
    <div class="sidebar-widget search-box">
        <form method="post" action="#">
            <div class="form-group">
                <input type="search" name="search-field" value="" placeholder="Search..." required>
                <button type="submit"><span class="icon fa fa-search"></span></button>
            </div>
        </form>
    </div>

    <!-- Category Widget -->
    <div class="sidebar-widget category-widget">
        <div class="widget-content">
            <h4 class="sidebar-widget_title">Categories</h4>
            <ul class="category-list">
                <li><a href="#">Business<span>01</span></a></li>
                <li><a href="#">Conference<span>05</span></a></li>
                <li><a href="#">Digital<span>08</span></a></li>
                <li><a href="#">Music<span>04</span></a></li>
                <li><a href="#">Startup<span>03</span></a></li>
                <li><a href="#">Workshop<span>07</span></a></li>
            </ul>
        </div>
    </div>

    <!-- Author Widget -->
    <div class="sidebar-widget author-widget">
        <div class="widget-content">
            <div class="author-widget_image">
                <img src="assets/images/resource/author-4.jpg" alt="" />
            </div>
            <div class="author-widget_name">Thomas Josaf</div>
            <div class="author-widget_text">Hear 9 inspiring talks, meet the best product people in Europe, and party together after the event!</div>
            <!-- Social Box -->
            <ul class="author-widget_socials">
                <li><a href="https://www.twitter.com/" class="fa-brands fa-twitter fa-fw" target="_blank"></a></li>
                <li><a href="https://www.facebook.com/" class="fa-brands fa-facebook-f fa-fw" target="_blank"></a></li>
                <li><a href="https://dribbble.com/" class="fa-brands fa-dribbble fa-fw" target="_blank"></a></li>
                <li><a href="https://www.linkedin.com/" class="fa-brands fa-linkedin fa-fw" target="_blank"></a></li>
            </ul>
        </div>
    </div>

    <!-- Post Widget -->
    <div class="sidebar-widget post-widget">
        <div class="widget-content">
            <h4 class="sidebar-widget_title">Recent Post</h4>
            
            <div class="post" *ngFor="let post of posts">
                <div class="thumb">
                  <a href="blog-details/{{ post.slug }}"><img [src]="post.image" [alt]="post.title" /></a>
                </div>
                <div class="post-date">{{ post.date | date: 'dd MMMM, yyyy' }}</div>
                <h6><a href="blog-details/{{ post.slug }}">{{ post.title }}</a></h6>
            </div>
        </div>
    </div>

    <!-- Time Widget -->
    <div class="sidebar-widget popular-tags">
        <div class="widget-content">
            <h4 class="sidebar-widget_title">Tag</h4>
            <a href="#">Business</a>
            <a href="#">Conference</a>
            <a href="#">Digital</a>
            <a href="#">Development</a>
            <a href="#">Venue</a>
            <a href="#">Tech</a>
            <a href="#">Workshop</a>
            <a href="#">Speaker</a>
        </div>
    </div>

</aside>