<!-- Subscribe One -->
<section class="subscribe-two" style="background-image:url(assets/images/background/6.jpg)">
    <div class="auto-container">
        <div class="inner-container">
            <div class="row clearfix">
                <div class="subscribe-two_title-column col-lg-6 col-md-12 col-sm-12">
                    <div class="subscribe-two_title">Get The Latest Updates</div>
                    <h3 class="subscribe-two_heading">Get Subscribed Today!</h3>
                </div>
                
                <!-- Form Column -->
                <div class="form-column col-lg-6 col-md-12 col-sm-12">
                    <!-- Subscribe Box -->
                    <div class="subscribe-box style-two">
                        <form method="post" action="#">
                            <div class="form-group">
                                <input type="email" name="search-field" value="" placeholder="Your Email Address ........" required>
                                <button type="submit">Submit Now</button>
                            </div>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>
<!-- End Subscribe One -->