<!-- Event Two -->
<section class="event-two" style="background-image:url(assets/images/main-slider/image-2.jpg)">
    <div class="auto-container">
        <div class="sec-title light centered title-anim">
            <div class="sec-title_title">Join Our Event</div>
            <h2 class="sec-title_heading">Why Attend Our Event?</h2>
            <div class="sec-title_text">Morbi tincidunt ipsum nec tristique mollis nulla libero <br> fermentum id ligula diam arcu.</div>
        </div>
        <div class="clearfix">

            <!-- Event Block Two -->
            <div class="event-block_two" *ngFor="let event of events">
                <div class="event-block_two-inner">
                  <div class="event-block_two-icon" [ngClass]="event.iconClass"></div>
                  <h5 class="event-block_two-title">
                    <a href="event-details/{{ event.slug }}">{{ event.title }}</a>
                  </h5>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Event Two -->