<!-- Event One -->
<section class="event-one">
    <div class="auto-container">
        <div class="row clearfix">
            
            <!-- Event Block One -->
            <div class="event-block_one col-lg-6 col-md-6 col-sm-12">
                <div class="event-block_one-inner">
                    <div class="event-block_one-content">
                        <div class="event-block_one-icon flaticon-maps-and-flags"></div>
                        <strong>WHERE IS THE EVENT:</strong>
                        221B Baker Street, P.O Box 353 Park Road, San <br> Francisco USA - 215431
                    </div>
                </div>
            </div>

            <!-- Event Block One -->
            <div class="event-block_one col-lg-6 col-md-6 col-sm-12">
                <div class="event-block_one-inner">
                    <div class="event-block_one-content">
                        <div class="event-block_one-icon flaticon-calendar"></div>
                        <strong>WHERE IS THE EVENT:</strong>
                        ( Sunday to Wednesday ) 20 January 2025 <br> to 24 January 2025.
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Event One -->