<app-banner-v1></app-banner-v1>

<!-- Sidebar Page Container -->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">
            
            <!-- Content Side -->
            <div class="content-side col-lg-8 col-md-12 col-sm-12">
                <div class="blog-detail">
                    <div class="blog-detail_inner">
                        <div class="blog-detail_image">
                            <img src="assets/images/resource/news-15.jpg" alt="" />
                        </div>
                        <div class="blog-detail_content">
                            <div class="blog-detail_date">2 May 2024</div>
                            <ul class="blog-detail_meta">
                                <li><span class="icon fa-regular fa-calendar fa-fw"></span>by Christine</li>
                                <li><span class="icon fa-solid fa-comments fa-fw"></span>(03) Comments</li>
                            </ul>
                            <h3 class="blog-detail_heading">Why Lead Generation is Key For Business Growth.</h3>
                            <p>Single stroke at the present moment and yet I feel that lorem quis bibendum auctor. Elitm sed eiusmod tempor incididunt umst etsu dolore magna aliquatenim ad.</p>
                            <p>Sed quia conse quuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore eamagna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex commodo consequat. </p>
                            <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.</p>
                            <p>randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.</p>
                            <blockquote>
                                It's crazy, but the things you love, prospective buyers might hate and that means you might have a hard time unloading your home when it comes time to sell. Here's how to choose wisely
                                <span class="blockquote_author">Leo Marken</span>
                                <span class="blockquote_quote flaticon-quote"></span>
                            </blockquote>
                            <div class="two-column">
                                <div class="row clearfix">
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <div class="news-block_one-image-two">
                                            <img src="assets/images/resource/news-17.jpg" alt="" />
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6">
                                        <p>It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. </p>
                                        <p>The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.</p>
                                    </div>
                                </div>
                            </div>
                            <p>randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. </p>
                            <!-- Post Share Options-->
                            <div class="post-share-options">
                                <div class="post-share-inner d-flex justify-content-between align-items-center flex-wrap">
                                    <div class="tags"><span>Tags:</span><a href="#">Conference,</a> <a href="#">Event,</a> <a href="#">Seminar</a></div>
                                    <ul class="social-box">
                                        <span>Share:</span>
                                        <li><a href="#">facebook</a></li>
                                        <li><a href="#">twitter</a></li>
                                        <li><a href="#">linkedin</a></li>
                                        <li><a href="#">pinterest</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Author Box -->
                        <div class="blog-author-box">
                            <div class="author-inner">
                                <div class="thumb"><img src="assets/images/resource/author-5.jpg" alt=""></div>
                                <div class="name">Lean Guimares <span>CEO CHI ART PRO</span></div>
                                <div class="text">Vestibulum imperdiet nibh vel magna lacinia ultrices. Sed id interdum urna. Nam ac elit a ante commodo tristique. Duis lacus urna, condimen tum a vehiculaa.</div>
                                <ul class="social-box">
                                    <li><a href="https://www.facebook.com/" class="fa-brands fa-facebook-f fa-fw"></a></li>
                                    <li><a href="https://www.twitter.com/" class="fa-brands fa-twitter fa-fw"></a></li>
                                    <li><a href="https://dribbble.com/" class="fa-brands fa-dribbble fa-fw"></a></li>
                                    <li><a href="https://www.linkedin.com/" class="fa-brands fa-linkedin fa-fw"></a></li>
                                </ul>
                            </div>
                        </div>

                        <!-- Login Box -->
                        <div class="comment-login_box">
                            <h4 class="comment-login_title">Comments</h4>
                            <div class="comment-login_box-inner">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="comment-login_box-text">Join the conversation</div>
                                    <ul class="comment-login_box-nav">
                                        <li><a href="contact-us-01">Login</a></li>
                                        <li><a href="contact-us-01">Signup</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <!-- Comments Area -->
                        <div class="comments-area">
                            <div class="group-title">
                                <h4>(03) Comments</h4>
                            </div>
                            <div class="comments-content">

                                <!-- Comment Box -->
                                <div class="comment-box">
                                    <div class="comment">
                                        <div class="author-thumb"><img src="assets/images/resource/author-1.jpg" alt=""></div>
                                        <div class="comment-inner">
                                            <ul class="comment-options">
                                                <li><a href="#">Share</a></li>
                                                <li><a href="#">Flag</a></li>
                                            </ul>
                                            <div class="comment-info"><strong>Lionalo Messiko</strong><div class="comment-time"> 1 Day Ago</div></div>
                                            <div class="text">Fully agree, as long as all precautions are taken like the facemask and distancing in the photo. Bookshops are among the most vital British and that's not just English - and Western institutions, intellectually and recreationally.</div>
                                            <ul class="likes-option">
                                                <li><span class="fa-solid fa-thumbs-up fa-fw"></span>10</li>
                                                <li><span class="fa-solid fa-thumbs-down fa-fw"></span>1</li>
                                            </ul>
                                            <a class="comment-reply" href="#"><span class="fa-solid fa-share fa-fw"></span> Reply</a>
                                        </div>
                                    </div>
                                </div>

                                <!-- Comment Box -->
                                <div class="comment-box reply-comment">
                                    <div class="comment">
                                        <div class="author-thumb"><img src="assets/images/resource/author-2.jpg" alt=""></div>
                                        <div class="comment-inner">
                                            <ul class="comment-options">
                                                <li><a href="#">Share</a></li>
                                                <li><a href="#">Flag</a></li>
                                            </ul>
                                            <div class="comment-info"><strong>Ronaldoino</strong><div class="comment-time"> 1 Day Ago</div></div>
                                            <div class="text">Agency is the ability to act autonomously and freely, and in psychology the term is often used to refer to people who feel that they are able to act independently and effectively to control their own lives.</div>
                                            <ul class="likes-option">
                                                <li><span class="fa-solid fa-thumbs-up fa-fw"></span>10</li>
                                                <li><span class="fa-solid fa-thumbs-down fa-fw"></span>1</li>
                                            </ul>
                                            <a class="comment-reply" href="#"><span class="fa-solid fa-share fa-fw"></span> Reply</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="comments-content">

                                <!-- Comment Box -->
                                <div class="comment-box">
                                    <div class="comment">
                                        <div class="author-thumb"><img src="assets/images/resource/author-3.jpg" alt=""></div>
                                        <div class="comment-inner">
                                            <ul class="comment-options">
                                                <li><a href="#">Share</a></li>
                                                <li><a href="#">Flag</a></li>
                                            </ul>
                                            <div class="comment-info"><strong>Kilonia.</strong><div class="comment-time"> 1 Day Ago</div></div>
                                            <div class="text">Fully agree, as long as all precautions are taken like the facemask and distancing in the photo. Bookshops are among the most vital British and that's not just English - and Western institutions, intellectually and recreationally.</div>
                                            <ul class="likes-option">
                                                <li><span class="fa-solid fa-thumbs-up fa-fw"></span>10</li>
                                                <li><span class="fa-solid fa-thumbs-down fa-fw"></span>1</li>
                                            </ul>
                                            <a class="comment-reply" href="#"><span class="fa-solid fa-share fa-fw"></span> Reply</a>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                        <!-- End Comments Area -->

                        <!-- Comment Form -->
                        <div class="comment-form">
                            <div class="group-title">
                                <h4>Leave a reply here</h4>
                            </div>
                            <form method="post" action="#">
                                <div class="row clearfix">
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="text" name="username" placeholder="Your Name" required="">
                                    </div>
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-12 form-group">
                                        <input type="text" name="username" placeholder="Email Address" required="">
                                    </div>
                                    
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <textarea class="" name="message" placeholder="Your Message here..."></textarea>
                                    </div>
                                    
                                    <div class="col-lg-12 text-center col-md-12 col-sm-12 form-group">
                                        <!-- Button Box -->
                                        <div class="button-box">
                                            <button class="btn-style-two theme-btn">
                                                <div class="btn-wrap">
                                                    <span class="text-one">Post comment</span>
                                                    <span class="text-two">Post comment</span>
                                                </div>
                                            </button>
                                        </div>
                                    </div>
                                    
                                </div>
                            </form>
                            <!-- End Comment Form -->
                        </div>

                    </div>
                </div>
            </div>

            <!-- Sidebar Side -->
            <div class="sidebar-side col-lg-4 col-md-12 col-sm-12">
                <app-blog-widgets></app-blog-widgets>
            </div>
        </div>
    </div>
</div>

<app-newsletter-v2></app-newsletter-v2>