<!-- Footer Three -->
<footer class="footer-three" style="background-image:url(assets/images/background/10.jpg)">
    <div class="footer-three_pattern" style="background-image:url(assets/images/background/pattern-25.png)"></div>
    <div class="footer-three_pattern-two" style="background-image:url(assets/images/background/pattern-26.png)"></div>
    <div class="auto-container">
        
        <!-- Widgets Section -->
        <div class="footer-three-widgets">
            <div class="row clearfix">
                
                <!-- Footer Column -->
                <div class="footer-three_column col-lg-5 col-md-12 col-sm-12">
                    <div class="d-flex justify-content-between align-items-center flex-wrap">
                        <div class="footer-three_logo"><a href="/"><img src="assets/images/logo.png" alt="" title=""></a></div>
                    </div>
                    <div class="footer-three_text">We have very good strength in innovative technology and tools with over 35 years of experience. We makes long-term investments goal in global companies in different sectors, mainly in Europe and other countries.</div>
                </div>

                <!-- Big Column -->
                <div class="footer-three_column col-lg-3 col-md-6 col-sm-12">
                    <ul class="footer-three_contact-list">
                        <li>
                            <span class="icon flaticon-map"></span>
                            <strong>ADDRESS</strong>
                            27 Division St, NY, USA
                        </li>
                        <li>
                            <span class="icon flaticon-email-1"></span>
                            <strong>MAIL TO US</strong>
                            envato&#64;gmail.com
                        </li>
                        <li>
                            <span class="icon flaticon-clock"></span>
                            <strong>TIMEING</strong>
                            Monday - Friday 9am - 6pm
                        </li>
                    </ul>
                    <div class="footer-social_list">
                        <a href="https://facebook.com/" class="facebook fa-brands fa-facebook-f" target="_blank"></a>
                        <a href="https://youtube.com/" class="youtube fa-brands fa-youtube" target="_blank"></a>
                        <a href="https://twitter.com/" class="twitter fa-brands fa-twitter" target="_blank"></a>
                    </div>
                </div>

                <!-- Big Column -->
                <div class="footer-three_column col-lg-4 col-md-6 col-sm-12">
                    <div class="newsletter-widget">
                        <div class="footer-newsletter_title">Get The Latest Updates</div>
                        <h4 class="footer-newsletter_heading">Signup For Newsletter</h4>
                        <!-- Subscribe Box -->
                        <div class="subscribe-box style-three">
                            <form method="post" action="#">
                                <div class="form-group">
                                    <input type="email" name="search-field" value="" placeholder="Your Email Address ........" required>
                                    <button type="submit">Subscribe</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <!-- Footer Bottom -->
    <div class="footer-bottom">
        <div class="auto-container">
            <div class="copyright">&copy;  Copyright ©{{ currentYear }} noor_tech. All Rights Reserved</div>
        </div>
    </div>

</footer>
<!-- End Footer Three -->