<!-- Banner Section Two -->
<section id="home" class="banner-section-two" style="background-image: url(assets/images/background/11.jpg)">
    <div class="auto-container">
        <div class="outer-container">
            <div class="content">
                <div class="upper-content">
                    <div class="title">IT Meeting using technologies</div>
                    <h1>FutureMind <span>| 2024</span></h1>
                    <h2>Digital Agency<span>PC Hotel, New York, USA</span></h2>
                </div>
                <div class="lower-content">
                    <div class="row clearfix">
                        <div class="column col-lg-4 col-md-4 col-sm-12">
                            <div class="lower-title">when ?</div>
                            <div class="date">18 - 20 Sep</div>
                        </div>
                        <div class="column col-lg-4 col-md-4 col-sm-12">
                            <div class="lower-title">where ?</div>
                            <div class="date">Downtown</div>
                        </div>
                        <div class="column col-lg-4 col-md-4 col-sm-12">
                            <div class="lower-title">hosted by ?</div>
                            <div class="date">Pearl Hotel, New York, USA</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Section Two -->