<!-- Countdown Section -->
<section class="countdown-section">
  <div class="auto-container">
    <div class="outer-box wow fadeInUp clearfix">
      <div class="date-column">
        <div class="date"><strong>24</strong>Jun</div>
        <div class="location">New York, USA</div>
      </div>

      <div class="countdown-column">
        <div class="time-counter"><div class="time-countdown clearfix" data-countdown="2030/10/19"></div></div>
      </div>
    </div>
  </div>
</section>
<!--End Countdown Section -->