<app-banner-v1></app-banner-v1>

<!-- Contact Page Section -->
<section class="contact-page-section">
    <div class="auto-container">
        <div class="row clearfix">
            <!-- Info Column -->
            <div class="info-column col-lg-3 col-md-12 col-sm-12">
                <div class="inner-column">
                
                    <!-- Info Box -->
                    <div class="info-box">
                        <div class="box-inner">
                            <span class="icon flaticon-placeholder"></span>
                            <h6>Address</h6>
                            <div class="text">Clarkson Ave, Brooklyn, NewYark 11203</div>
                        </div>
                    </div>
                    
                    <!-- Info Box -->
                    <div class="info-box">
                        <div class="box-inner">
                            <span class="icon flaticon-email-1"></span>
                            <h6>Email</h6>
                            <a href="mailto:demo@conat.com">demo&#64;conat.com</a><br>
                            <a href="mailto:demo&#64;conat.com">demo&#64;conat.com</a>
                        </div>
                    </div>
                    
                    <!-- Info Box -->
                    <div class="info-box">
                        <div class="box-inner">
                            <span class="icon flaticon-telephone"></span>
                            <h6>Phone</h6>
                            <a href="tel:+000-999-0000">000-999-0000</a><br>
                            <a href="tel:+999-000-9999-00">+999 000 9999 00</a>
                        </div>
                    </div>
                    
                    <!-- Info Box -->
                    <div class="info-box">
                        <div class="box-inner">
                            <span class="icon flaticon-internet"></span>
                            <h6>Social media</h6>
                            <ul class="social-box">
                                <li><a href="https://www.twitter.com/" class="fa-brands fa-twitter fa-fw"></a></li>
                                <li><a href="https://www.facebook.com/" class="fa-brands fa-facebook-f fa-fw"></a></li>
                                <li><a href="https://dribbble.com/" class="fa-brands fa-dribbble fa-fw"></a></li>
                                <li><a href="https://www.linkedin.com/" class="fa-brands fa-linkedin fa-fw"></a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <!-- Form Column -->
            <div class="form-column col-lg-9 col-md-12 col-sm-12">
                <div class="inner-column">
                    
                    <!-- Sec Title -->
                    <div class="sec-title">
                        <div class="sec-title_title">CONTACT INFO</div>
                        <h2 class="sec-title_heading">Get Meeting With us.</h2>
                    </div>
                    
                    <!-- Contact Form -->
                    <div class="default-form contact-form">
                        <app-contact-form-v2></app-contact-form-v2>
                    </div>
                    
                    <!-- Map Boxed -->
                    <div class="map-boxed">
                        <div class="map-outer">
                            <app-google-map-v1></app-google-map-v1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Page Section -->

<app-newsletter-v2></app-newsletter-v2>